<a href="https://colab.research.google.com/github/JorgeRuizVar/Amigo_Secreto_E/blob/main/Python_Data_Science.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python para Data Science

Notebook para el curso de Python para Data Science publicado en la plataforma de [Alura Latam](https://www.aluracursos.com/)

# Introducción a Python
¡Vamos a conocer Python, nuestro ambiente de estudio, y también generaremos nuestro primer código en este lenguaje!

## Google Colaboratory

Ya aprendimos qué es [Python](https://www.python.org/) y ahora aprenderemos a usar nuestra herramienta de ejecución [Google Colaboratory](https://colab.research.google.com/) para programar en un notebook interactivo.

Vamos a probar algunas funciones de este ambiente.

 **`>>> Usa esta celda para mover <<<`**

## ¡Hola mundo!

Vamos a conocer un poco más de cerca nuestro notebook. Para ello ejecutaremos nuestro primer comando en Python: [`print()`](https://docs.python.org/3/library/functions.html#print)

In [ ]:
print ("¡Hola Mundo!")

¡Hola Mundo!

In [ ]:
15

15

In [ ]:
print ("Mi Nombre es Jorge Ruíz, tengo 29 años y me encanta la Data Science")

Mi Nombre es Jorge Ruíz, tengo 29 años y me encanta la Data Science

In [ ]:
print ("Escuela de Datos de Alura")
print ("Nombre: Jorge")
print ("Apellido: Ruíz")

Escuela de Datos de Alura
Nombre: Jorge
Apellido: Ruíz

In [ ]:
print ("J")
print ("O")
print ("R")
print ("G")
print ("E")

J
O
R
G
E

In [ ]:
print (22, "de Septiembre de", 1995)

22 de Septiembre de 1995

In [ ]:
print ("Año actual:", 2025008)

Año actual: 2025008

# Manipulando los datos

Vamos a aprender sobre las variables en Python, cómo declararlas y utilizarlas además de conocer otros comandos de este lenguaje. :D

## Variables

En Data Science trabajamos con varios tipos de datos e informaciones, entonces es esencial saber cómo trabajar con las variables.

Las variables en Python se crean cuando atribuimos un valor a ella.

Para esto, colocamos el nombre de la variable, el signo de igual (`=`) y el valor que queremos atribuirle.

In [ ]:
5

5

In [ ]:
id (5)

10750984

In [ ]:
edad = 5

In [ ]:
print (id(edad))
print (id(5))

10750984
10750984

In [ ]:
numerocinco= 5

In [ ]:
id(numerocinco)

10750984

In [ ]:
nombre = "Jorge"

In [ ]:
id ("Jorge")

136873428528176

In [ ]:
id (nombre)

136873428528176

Existen algunos tipos de nomes que **no** podemos definir para las variables:

- **Nombres que comiencen con números**
  - Ejemplos: `10_notas`, `2_nombre_casa`, etc.
- **Palabras separadas por espacio**
  - Ejemplos: `Nombre escuela`, `notas estudiantes`, etc.
- **Nombres de funciones de Python**
  - Ejemplos: `print`, `type`, etc.

> Las letras mayúsculas y minúsculas generarán diferentes variables. La variable `edad` es diferente de `Edad` que a su vez es diferente de `EDAD`:
``` Python
edad = 1
Edad = 2
EDAD = 3
_edad = 4
_edad_ = 5
print(edad, Edad, EDAD, _edad, _edad_)
1 2 3 4 5
```

## Tipos de variables

Cada variable contiene una clase específica con respecto al tipo de objeto al cual esta hace referencia. Estas clases serán diferentes de acuerdo con el tipo de dato que le sea atribuido a una variable.

Para conocer la clase de cada elemento usamos la función [`type()`](https://docs.python.org/3/library/functions.html#type)

In [ ]:
edad = 5

In [ ]:
type (edad)

int

In [ ]:
promedio = 9.5
type (promedio)

float

In [ ]:
nombre = ("Jorge")
type (nombre)

str

In [ ]:
v = True
type (v)

bool

En un conjunto de datos escolares podemos tener varios tipos de informaciones. Supongamos que tenemos acceso a la ficha de datos del alumno *Penélope Camacho*, cómo transformamos este nombre en variables de Python?

#### Ficha:

- Nombre: Penélope Camacho
- Edad: 11 años
- Promedio del semestre: 9,75
- Situación de aprobación: Verdadera (aprobado)

In [ ]:
nombre_estudiante = "Penélope Camacho"
edad_estudiante = 11
promedio_estudiante = 9.75
aprobado = True

print (nombre_estudiante, edad_estudiante, promedio_estudiante, aprobado)
print (type(nombre_estudiante), type(edad_estudiante), type(promedio_estudiante), type(aprobado))

Penélope Camacho 11 9.75 True
<class 'str'> <class 'int'> <class 'float'> <class 'bool'>

## Variables numéricas

Entre los tipos de datos numéricos vamos a enfocarnos en los tipos `entero` y `float`.

Tenemos una tabla de información sobre los diversos cargos, cantidad de personas empleadas y el salario correspondiente:

|Cargo | Cantidad | Salario|
|---|---|---|
|Vigilante | 5 | 300 |
|Docente | 16| 500|
|Coordinador| 2 |600|

Necesitamos trabajar con estos datos para obtener:

- La cantidad total de empleados;
- La diferencia entre el salario más bajo y más alto; y
- El promedio ponderado de los salarios de los empleados de la escuela.

In [ ]:
c_vigilante = 5
s_vigilante = 300

c_docente = 16
s_docente = 500

c_coordinador = 2
s_coordinador = 600

total_empleados = c_vigilante + c_docente + c_coordinador
total_empleados

23

In [ ]:
diferencia_salario = s_coordinador - s_vigilante
diferencia_salario

300

In [ ]:
promedio_salarios = (c_vigilante * s_vigilante + c_docente * s_docente +
                   c_coordinador * s_coordinador) / total_empleados
promedio_salarios

465.2173913043478

## Strings

Strings hace referencia a un conjunto de caracteres formando un texto.

Podemos crear Strings cuando atribuimos un dato a una variable entre comillas sencillas (`'`) o comillas dobles (`"`).

In [ ]:
curso = "Alura"
type (curso)

str

Las variables textuales son objetos que poseen métodos que nos ayudan a formatear strings. Los métodos los podemos ejecutar al definir un objeto de acuerdo con la siguiente estructura:

```
objeto.metodo()
```

Existen métodos que no necesitan los `()`, siempre es una buena práctica verificar la documentación para cada caso.

---
**Situación:**

Recibimos una variable con el nombre de una profesora de la escuela para añadirla a los registros. Sin embargo, necesitamos darle un tratamiento a este texto antes de insertarlo al sistema.

In [ ]:
texto = '  Micaela de los Sanyos '
id (texto)

135299213212480

El objetivo final es que el nombre aparezca de la siguiente forma:

```
'MICAELA DE LOS SANTOS'
```

### [`str.upper()` ](https://docs.python.org/3/library/stdtypes.html#str.upper)
Convierte una string a mayúsculas.

In [ ]:
texto.upper()

'  MICAELA DE LOS SANYOS '

### [`str.lower()`](https://docs.python.org/3/library/stdtypes.html#str.lower)
Convierte una string a minúsculas.

In [ ]:
texto.lower()

'  micaela de los sanyos '

### [`str.strip()`](https://docs.python.org/3/library/stdtypes.html#str.strip)
Elimina los espacios en blanco al inicio y al final de una string.

In [ ]:
texto.strip()

'Micaela de los Sanyos'

### [`str.replace(antiguo, nuevo)`](https://docs.python.org/3/library/stdtypes.html#str.replace)

Sustituye todas las ocurrencias del texto "antiguo" en la string por el  "nuevo".

In [ ]:
texto.replace('y', 't')

'  Micaela de los Santos '

### Observaciones

1. Los métodos devuelven una **tranformación**, no son ejecutados directamente sobre la variable donde está almacenado el texto.

2. Adicionalmente, podemos acumular la ejecución de los métodos.

In [ ]:
texto

'  Micaela de los Sanyos '

Para que la transformación se pueda ejecutar debemos atribuir la salida de las transformaciones a las variables

In [ ]:
nuevo_texto = texto.strip().replace('y', 't').upper()
print (nuevo_texto)
print (id(nuevo_texto), id(texto))

MICAELA DE LOS SANTOS
135299221567040 135299213212480

In [ ]:
texto.strip().replace('y', 't').upper()
print (texto)
print (id(nuevo_texto), id(texto))

  Micaela de los Sanyos
135299221567040 135299213212480

## Capturando datos

En algunas aplicaciones necesitamos capturar los valores del usuario de nuestro proyecto. En python, logramos capturar los datos del usuario a través del comando [`input()`](https://docs.python.org/3/library/functions.html#input).

Para ejecutar la captura debemos atribuir el resultado de esta función a una variable.

In [ ]:
nombre = input("Escribe tu nombre: ")

Escribe tu nombre: Jorge

In [ ]:
type(nombre)

str

La salida de este comando siempre será una *string*. Esto quiere decir que aunque capturemos un valor de variable numérica, este será de tipo string.

Entonces, será necesario **convertir el resultado cuando no se desea utilizar el valor como tipo string**.

Existen funciones para la conversión de valores:

- Enteros: [`int(dato_para_conversion)`](https://docs.python.org/3/library/functions.html#int)
- Coma flotante: [`float(dato_para_conversion)`](https://docs.python.org/3/library/functions.html#float)
- String: [`str(dato_para_conversion)`](https://docs.python.org/3/library/functions.html#func-str)
- Booleano: [`bool(dato_para_conversion)`](https://docs.python.org/3/library/functions.html#bool)

In [ ]:
ano_admision = int(input ("Digita el año de admisión: "))

Digita el año de admisión: 2022

In [ ]:
type (ano_admision)

int

In [ ]:
ano_salida = int(input("Digita el año de salida: "))

Digita el año de salida: 2026

In [ ]:
type (ano_salida)

int

In [ ]:
nota_admision = float(input("Digita la nota de admisión: "))

Digita la nota de admisión: 9.5

In [ ]:
type (nota_admision)

float

In [ ]:
ano_admision + ano_salida

4048

Trataremos de representar mejor ahora el resultado de la transformación que obtuvimos. Nosotros podemos formatear y presentar nuestro resultado mezclando strings con valores no textuales.

Para ello utilizamos la estructura de formatación `f` con strings.

In [ ]:
print (f'\tEl año de admisión fue: {ano_admision} \n\tLa nota de admisión fue: {nota_admision} ')

	El año de admisión fue: 2022
	La nota de admisión fue: 9.5

In [ ]:
nombre = "Juan"
edad = 25
mensaje = f"Hola, mi nombre es {nombre} y tengo {edad} años."
print(mensaje)

Hola, mi nombre es Juan y tengo 25 años.

In [ ]:
precio = 19.99
mensaje = f"El precio es {precio:.2f} dólares."
print(mensaje)

El precio es 19.99 dólares.

In [ ]:
type(precio)

float

In [ ]:
precio = 19.99
mensaje = f"El precio es {precio} dólares."
print(mensaje)

El precio es 19.99 dólares.

In [ ]:
nombre = "Juan"
edad = 25
mensaje = f"Nombre: {nombre}\nEdad: {edad}\n"
print(mensaje)

Nombre: Juan
Edad: 25

In [ ]:
chr(64)

'@'

In [ ]:
chr(72) + chr(111) +  chr(108) + chr(97)

'Hola'

In [ ]:
nombre = "Jorge Doussett"
edad = 29
mensaje = f"El nombre del alumno es {nombre} y, su edad es {edad}"
print (mensaje)

El nombre del alumno es Jorge Doussett y, su edad es 29

In [ ]:
nombre_alumno = 'Penélope Camacho'
print('Nombre del alumno: %s' %(nombre_alumno))

Nombre del alumno: Penélope Camacho

In [ ]:
nombre_alumno = 'Penélope Camacho'
edad_alumno = 11
media_alumno = 9.95
print('Nombre del alumno es %s, tiene %d años y su media es %f.'
      %(nombre_alumno, edad_alumno, media_alumno))

Nombre del alumno es Penélope Camacho, tiene 11 años y su media es 9.950000.

In [ ]:
print('Nombre del alumno es %s, tiene %d años y su media es %.2f.'
      %(nombre_alumno, edad_alumno, media_alumno))

Nombre del alumno es Penélope Camacho, tiene 11 años y su media es 9.95.

In [ ]:
print('Nombre del alumno es %s, tiene %d años y su media es %.f.'
      %(nombre_alumno, edad_alumno, media_alumno))

Nombre del alumno es Penélope Camacho, tiene 11 años y su media es 10.

In [ ]:
x = True
print("Valor de x: %s" % (x))
type(x)

Valor de x: True

bool

In [ ]:
x = True
print("Valor de x: %s" % str(x))
type(x)

Valor de x: True

bool

In [ ]:
nombre_alumno = 'Penélope Camacho'
print ('Nombre del alumno: {}'.format(nombre_alumno))

Nombre del alumno: Penélope Camacho

In [ ]:
nombre_alumno = 'Fabricio Daniel'
edad_alumno = 15
media_alumno = 9.95
print ('El nombre del alumno es {} tiene una edad de {} y su media es de {}'
      .format(nombre_alumno, edad_alumno, media_alumno))

El nombre del alumno es Fabricio Daniel tiene una edad de 15 y su media es de 9.95

In [ ]:
print("Estudiar es un esfuerzo constante,\nEs como cultivar una planta,\nNecesitamos dedicación y paciencia,\nPara ver madurar el fruto.")

Estudiar es un esfuerzo constante,
Es como cultivar una planta,
Necesitamos dedicación y paciencia,
Para ver madurar el fruto.

In [ ]:
print('Cantidad\tCalidad\n5 muestras\tAlta\n3 muestras\tBaja')

Cantidad	Calidad
5 muestras	Alta
3 muestras	Baja

In [ ]:
print("Ruta del archivo: C:\\archivos\\documento.csv")

Ruta del archivo: C:\archivos\documento.csv

In [ ]:
print("Una vez oí: \"Los frutos del conocimiento son los más dulces y duraderos de todos.\"")

Una vez oí: "Los frutos del conocimiento son los más dulces y duraderos de todos."

In [ ]:
print('Mi profesora una vez dijo: \'Estudiar es la clave del éxito.\'')

Mi profesora una vez dijo: 'Estudiar es la clave del éxito.'

In [ ]:
nombre_usuario = input("Favor de introducir su nombre: ")
mensaje = f"El nombre del usuario es: {nombre_usuario}"
print (mensaje)

Favor de introducir su nombre: Jorge Doussett
El nombre del usuario es: Jorge Doussett

In [ ]:
nombre_usuario = input("Favor de introducir su nombre: ")
edad_usuario = input(" Favor de introducir su edad: ")
mensaje = f"El nombre del Usuario es {nombre_usuario}\nLa edad del usuario es {edad_usuario}"
print (mensaje)

Favor de introducir su nombre: Jorge Doussett
 Favor de introducir su edad: 29
El nombre del Usuario es Jorge Doussett
La edad del usuario es 29

In [ ]:
nombre_usuario = input("Favor de introducir su numbre: ")
edad_usuario = input("Favor de introducir su edad: ")
altura_usuario = float(input("Favor de introducir su altura: "))
mensaje = f"El nombre del Usuario es: {nombre_usuario}\n"
mensaje_2 = f"La edad del Usuario es: {edad_usuario}\n"
mensaje_3 = f"La altura del Usuario es: {altura_usuario}"
print (mensaje, mensaje_2, mensaje_3)

Favor de introducir su numbre: Jorge Doussett
Favor de introducir su edad: 29
Favor de introducir su altura: 1.82
El nombre del Usuario es: Jorge Doussett
 La edad del Usuario es: 29
 La altura del Usuario es: 1.82

In [ ]:
v_1 = float(input ("Introduce el primer valor:"))
v_2 = float(input ("Introduce el segundo valor: "))
print (f"La suma de los valores es: {v_1 + v_2}")

Introduce el primer valor:528.13
Introduce el segundo valor: 737.77
La suma de los valores es: 1265.9

In [ ]:
v_1 = float(input ("Introduce el primer valor:"))
v_2 = float(input ("Introduce el segundo valor:"))
v_3 = float(input ("Introduce el tercer valor:"))
suma = v_1 + v_2 + v_3
print (f"La suma de los valores es: {suma:.2f}")

Introduce el primer valor:753.951
Introduce el segundo valor:852.654
Introduce el tercer valor:963.741
La suma de los valores es: 2570.35

In [ ]:
v_1 = float(input ("Introduce el primer valor:"))
v_2 = float(input ("Introduce el segundo valor:"))
v_3 = float(input ("Introduce el tercer valor:"))
suma = v_1 + v_2 + v_3
print ("La suma de los valores es: {:.2f}".format(suma))

Introduce el primer valor:789.987
Introduce el segundo valor:456.654
Introduce el tercer valor:123.321
La suma de los valores es: 1369.96

In [ ]:
v_1 = float(input ("Introduce el primer valor:"))
v_2 = float(input ("Introduce el segundo valor:"))
v_3 = float(input ("Introduce el tercer valor:"))
suma = round(v_1 + v_2 + v_3, 2)
print (f"La suma de los valores es: {suma}")

Introduce el primer valor:951.159
Introduce el segundo valor:9731.3179
Introduce el tercer valor:8246.23
La suma de los valores es: 18928.71

In [ ]:
v_1 = float(input ("Introduce el primer valor:"))
v_2 = float(input ("Introduce el segundo valor:"))
resta = round(v_1 - v_2, 2)
print (f"La resta de los valores es: {resta}")

Introduce el primer valor:951357
Introduce el segundo valor:-852
La resta de los valores es: 952209.0

In [ ]:
v_1 = float(input ("Introduce el primer valor:"))
v_2 = float(input ("Introduce el segundo valor:"))
resta = round(v_1 - v_2, 2)
print (f"La resta de los valores es: {resta}")

Introduce el primer valor:1000
Introduce el segundo valor:1
La resta de los valores es: 999.0

In [ ]:
v_1 = float(input ("Introduce el primer valor:"))
v_2 = float(input ("Introduce el segundo valor:"))
producto = round(v_1 * v_2, 2)
print (f"El producto de los valores es: {producto}")

Introduce el primer valor:78.53
Introduce el segundo valor:91.14
El producto de los valores es: 7157.22

In [ ]:
v_1 = float(input ("Introduce el primer valor:"))
v_2 = float(input ("Introduce el segundo valor:"))
division = v_1 // v_2
division_2 = v_1 % v_2
print (f"El resultado de los valores es: {division}")
print (f"El residuo de los valores es: {division_2}")

Introduce el primer valor:78
Introduce el segundo valor:42
El resultado de los valores es: 1.0
El residuo de los valores es: 36.0

In [ ]:
v_1 = float(input("Introduce el primer valor: "))
v_2 = float(input("Introduce el segundo valor: "))

if v_2 == 0:
    print("Error: El denominador no puede ser cero. Por favor, introduce un valor diferente.")
else:
    division = v_1 // v_2
    division_2 = v_1 % v_2
    print(f"El resultado de la división entera es: {division}")
    print(f"El residuo de la división es: {division_2}")

Introduce el primer valor: 1
Introduce el segundo valor: 0
Error: El denominador no puede ser cero. Por favor, introduce un valor diferente.

In [ ]:
v_1 = float(input("Introduce el primer valor: "))
v_2 = float(input("Introduce el segundo valor: "))

while v_2 == 0:
    print("Error: El denominador no puede ser cero.")
    v_2 = float(input("Introduce un denominador válido: "))

division = v_1 // v_2
division_2 = v_1 % v_2
print(f"El resultado de la división entera es: {division}")
print(f"El residuo de la división es: {division_2}")

Introduce el primer valor: 1
Introduce el segundo valor: 0
Error: El denominador no puede ser cero.
Introduce un denominador válido: 1
El resultado de la división entera es: 1.0
El residuo de la división es: 0.0

In [ ]:
base = float(input ("Introduce la base:"))
exponente_valor = float(input ("Introduce el exponente:"))
resultado = round(v_1 ** v_2, 2)
print (f"El resultado de la exponenciación es: {resultado}")

Introduce la base:23
Introduce el exponente:13
El resultado de la exponenciación es: 8.9093699540585e+56

In [ ]:
base = float(input("Introduce la base: "))
exponente_valor = float(input("Introduce el exponente: "))

if base == 0 and exponente_valor < 0:
    print("Error: Elevar 0 a una potencia negativa resulta en indefinido.")
else:
    resultado = round(base ** exponente_valor, 2)
    print(f"El resultado de la exponenciación es: {resultado}")

Introduce la base: 0
Introduce el exponente: -1
Error: Elevar 0 a una potencia negativa resulta en indefinido.

In [ ]:
nota_1 = float(input("Introduza la primer nota:"))
nota_2 = float(input("Introduza la segunda nota:"))
nota_3 = float(input("Introduzca la tercer nota: "))
notas = round((nota_1 + nota_2 + nota_3) / 3, 2)
print (f"El promedio de las notas, es de: {notas}")

Introduza la primer nota:9.2
Introduza la segunda nota:9.7
Introduzca la tercer nota: 10
El promedio de las notas, es de: 9.633333333333333

In [ ]:
notas = []
for i in range(3):
    nota = float(input(f"Introduzca la nota {i+1}: "))
    notas.append(nota)

promedio = round(sum(notas) / len(notas), 2)
print(f"El promedio de las notas es de: {promedio}")

Introduzca la nota 1: 9.75
Introduzca la nota 2: 9.9
Introduzca la nota 3: 10
El promedio de las notas es de: 9.88

In [ ]:
numeros = [5, 12, 20, 15]
pesos = [1, 2, 3, 4]

# Verificar que la cantidad de números y pesos coincida
if len(numeros) != len(pesos):
    print("Error: La cantidad de números y pesos no coincide.")
else:
    suma_ponderada = 0
    suma_de_pesos = 0

    for i in range(len(numeros)):
        suma_ponderada += numeros[i] * pesos[i]
        suma_de_pesos += pesos[i]

    if suma_de_pesos == 0:
        print("Error: La suma de los pesos no puede ser cero.")
    else:
        promedio_ponderado = suma_ponderada / suma_de_pesos
        print(f"El promedio ponderado es: {promedio_ponderado}")

El promedio ponderado es: 14.9

In [ ]:
numeros = [5, 12, 20, 15]
pesos = [1, 2, 3, 4]

if len(numeros) != len(pesos):
    print("Error: La cantidad de números y pesos no coincide.")
else:
    suma_ponderada = sum(numeros[i] * pesos[i] for i in range(len(numeros)))
    suma_de_pesos = sum(pesos)

    if suma_de_pesos == 0:
        print("Error: La suma de los pesos no puede ser cero.")
    else:
        promedio_ponderado = suma_ponderada / suma_de_pesos
        print(f"El promedio ponderado es: {promedio_ponderado}")

El promedio ponderado es: 14.9

In [ ]:
frase = ("Esto es una frase cualquiera")
print (frase)

Esto es una frase cualquiera

In [ ]:
frase = input("Introduzca lo que desee: ")
print (frase)

Introduzca lo que desee: Hola Mundo
Hola Mundo

In [ ]:
frase = input ("Introduzca lo que desee: ")
nueva_frase = frase.upper()
print (nueva_frase)

Introduzca lo que desee: Hola Mundo
HOLA MUNDO

In [ ]:
frase = input ("Introduza lo que desee: ")
nueva_frase = frase.lower()
print (nueva_frase)

Introduza lo que desee: Hola Mundo
hola mundo

In [ ]:
frase = input ("Introduzca lo que desee: ")
nueva_frase = frase.strip()
print (nueva_frase)

Introduzca lo que desee:    Hola Mundo
Hola Mundo

In [ ]:
frase = ("   Un texto cualquiera   ")
nueva_frase = frase.strip()
print (nueva_frase)

Un texto cualquiera

In [ ]:
frase = input ("Introduzca lo que desee: ")
nueva_frase = frase.strip().lower()
print (nueva_frase)

Introduzca lo que desee:    HOLA MUNDO
hola mundo

In [ ]:
frase = input ("Introduzca lo que desee: ")
nueva_frase = frase.replace('e', 'f')
print (nueva_frase)

Introduzca lo que desee: "Estamos emocionados de estar aquí"
"Estamos fmocionados df fstar aquí"

In [ ]:
frase = input ("Introduzca lo que desee: ")
nueva_frase = frase.replace('e', 'f'). replace ('E', 'f')
print (nueva_frase)

Introduzca lo que desee: "Estamos emocionados de estar aquí"
"fstamos fmocionados df fstar aquí"

In [ ]:
frase = input("Introduzca lo que desee: ")
frase_en_minusculas = frase.lower()
nueva_frase = frase_en_minusculas.replace('e', 'f')
print(nueva_frase)

Introduzca lo que desee: "Estamos emocionados de estar aquí"
"fstamos fmocionados df fstar aquí"

In [ ]:
import re

frase = input("Introduzca lo que desee: ")
nueva_frase = re.sub(r'[eE]', 'f', frase)
print(nueva_frase)

Introduzca lo que desee: "Estamos emocionados de estar aquí"
"fstamos fmocionados df fstar aquí"

In [ ]:
import re

frase = input ("Introduzca lo que desee: ")
nueva_frase = re.sub(r'[aA]', '@', frase)
print (nueva_frase)

Introduzca lo que desee: "Amamos a la Señorita Alexa"
"@m@mos @ l@ Señorit@ @lex@"

In [ ]:
import re

frase = input ("Introduzca lo que desee: ")
nueva_frase = re.sub(r'[sS]', '$', frase)
print (nueva_frase)

Introduzca lo que desee: "Si el socavón desata serpientes"
"$i el $ocavón de$ata $erpiente$"

# Estructuras condicionales

In [ ]:
# Nota de Aprobación, entre 7 y 10 == nota de aprobación >=7
# Nota de Reprobación, es menor a 7 == nota de reprobación <7

"""
Si la nota es mayor o igual a 7, el alumno está aprobado.
Si la nota es menor que 7, el alumno está reprobado.
"""

'\nSi la nota es mayor o igual a 7, el alumno está aprobado.\nSi la nota es menor que 7, el alumno está reprobado.\n'

In [ ]:
calificacion = float(input("Ingrese la calificación del alumno: "))
asistencia = float(input("Ingrese la asistencia del alumno: "))

if calificacion >= 7 and asistencia >= 75:
    print("El alumno está aprobado.")
    print("Felicidades, aprobaste el curso!")
elif calificacion < 7 and asistencia >= 75:
    print("El alumno necesita mejorar sus notas.")
elif calificacion >= 7 and asistencia < 75:
    print("El alumno necesita mejorar su asistencia.")
else:
    print ("El alumno está reprobado.")

Ingrese la calificación del alumno: 9
Ingrese la asistencia del alumno: 100
El alumno está aprobado.
Felicidades, aprobaste el curso!

In [ ]:
calificacion = float(input("Ingrese la calificación del alumno: "))
asistencia = float(input("Ingrese la asistencia del alumno: "))

if calificacion >= 7 and asistencia >= 75:
    print("El alumno está aprobado.")
    print("Felicidades, aprobaste el curso!")
elif calificacion < 7 and asistencia >= 75:
    print("El alumno necesita mejorar sus notas.")
elif calificacion >= 7 and asistencia < 75:
    print("El alumno necesita mejorar su asistencia.")
else:
    print ("El alumno está reprobado.")

Ingrese la calificación del alumno: 6
Ingrese la asistencia del alumno: 70
El alumno está reprobado.

In [ ]:
calificacion = float(input("Ingrese la calificación del alumno: "))
asistencia = float(input("Ingrese la asistencia del alumno: "))

if calificacion >= 7 and asistencia >= 75:
    print("El alumno está aprobado.")
    print("Felicidades, aprobaste el curso!")
elif calificacion < 7 and asistencia >= 75:
    print("El alumno necesita mejorar sus notas.")
elif calificacion >= 7 and asistencia < 75:
    print("El alumno necesita mejorar su asistencia.")
else:
    print ("El alumno está reprobado.")

Ingrese la calificación del alumno: 6
Ingrese la asistencia del alumno: 75
El alumno necesita mejorar sus notas.

In [ ]:
calificacion = float(input("Ingrese la calificación del alumno: "))
asistencia = float(input("Ingrese la asistencia del alumno: "))

if calificacion >= 7 and asistencia >= 75:
    print("El alumno está aprobado.")
    print("Felicidades, aprobaste el curso!")
elif calificacion < 7 and asistencia >= 75:
    print("El alumno necesita mejorar sus notas.")
elif calificacion >= 7 and asistencia < 75:
    print("El alumno necesita mejorar su asistencia.")
else:
    print ("El alumno está reprobado.")

Ingrese la calificación del alumno: 10
Ingrese la asistencia del alumno: 100
El alumno está aprobado.
Felicidades, aprobaste el curso!

In [ ]:
# Nota de Aprobación, entre 7 y 10 == nota de aprobación >=7
# Nota de Reprobación, es menor a 7 == nota de reprobación <7

"""
Si la nota es mayor o igual a 7, el alumno está aprobado.
Si la nota es menor que 7, el alumno está reprobado.
"""

'\nSi la nota es mayor o igual a 7, el alumno está aprobado.\nSi la nota es menor que 7, el alumno está reprobado.\n'

## `IF` y `ELSE`

Los comandos `if` y `else` son dos estructuras condicionales. El comando `if` ejecutará el bloque de comandos en caso de que la condición citada sea  **verdadera**. El comando `else` ejecutará el bloque de comandos en el caso de que la condicional de `if` sea **falsa**.

El comando `if` es una palabra clave en Python que significa "si". Este se emplea para conformar la estructura condicional, que te permite verificar si una determinada condición es verdadera o falsa e, inmediatamente después, ejecute un bloque de código específico dependiendo del resultado de la verificación. La sintaxis para usar el comando `if` es:



```
if condicion:
    # Realiza algo
```

In [ ]:
numero = float(input("Ingrese un número: "))
if numero % 2 == 0:
    print ("El número es PAR")
else:
    print ("El número es IMPAR")

Ingrese un número: 65165151651954
El número es PAR

In [ ]:
numero = float(input("Ingrese un número: "))
if numero > 0:
    print ("El número es POSITIVO")
elif numero == 0:
    print ("Vuelve a intentarlo, papito")
else:
    print ("El número es NEGATIVO")

Ingrese un número: -1
El número es NEGATIVO

In [ ]:
edad_maria = int(input('Ingrese la edad de María: '))
edad_beatriz = int(input('Ingrese la edad de Beatriz: '))

if edad_maria > edad_beatriz:
  print('María es mayor que Beatriz.')

Ingrese la edad de María: 70
Ingrese la edad de Beatriz: 69
María es mayor que Beatriz.

In [ ]:
edad_maria = int(input('Ingrese la edad de María: '))
edad_beatriz = int(input('Ingrese la edad de Beatriz: '))

if edad_maria < edad_beatriz:
  print('María es menor que Beatriz.')

Ingrese la edad de María: 70
Ingrese la edad de Beatriz: 71
María es menor que Beatriz.

In [ ]:
empleados_empresa_1 = int(input('Ingrese la cantidad de empleados de la empresa 1: '))
empleados_empresa_2 = int(input('Ingrese la cantidad de empleados de la empresa 2: '))

if empleados_empresa_1 >= empleados_empresa_2:
  print('La empresa 1 tiene una cantidad de empleados mayor o igual a la empresa 2.')

Ingrese la cantidad de empleados de la empresa 1: 100
Ingrese la cantidad de empleados de la empresa 2: 99
La empresa 1 tiene una cantidad de empleados mayor o igual a la empresa 2.

In [ ]:
empleados_empresa_1 = int(input('Ingrese la cantidad de empleados de la empresa 1: '))
empleados_empresa_2 = int(input('Ingrese la cantidad de empleados de la empresa 2: '))

if empleados_empresa_1 <= empleados_empresa_2:
  print('La empresa 1 tiene una cantidad de empleados menor o igual a la empresa 2.')

Ingrese la cantidad de empleados de la empresa 1: 500
Ingrese la cantidad de empleados de la empresa 2: 501
La empresa 1 tiene una cantidad de empleados menor o igual a la empresa 2.

In [ ]:
libro_1 = input('Ingrese el título del 1° libro: ')
libro_2 = input('Ingrese el título del 2° libro: ')

if libro_1 == libro_2:
  print('Los libros tienen el mismo título.')

Ingrese el título del 1° libro: Data
Ingrese el título del 2° libro: Data
Los libros tienen el mismo título.

In [ ]:
libro_1 = input('Ingrese el título del 1° libro: ')
libro_2 = input('Ingrese el título del 2° libro: ')

if libro_1 != libro_2:
  print('Los libros tienen títulos diferentes.')

Ingrese el título del 1° libro: Data
Ingrese el título del 2° libro: Science
Los libros tienen títulos diferentes.

Ya el comando `else` en Python se usa en junción con la palabra clave `if` para formar una estructura condicional. la sintaxis para usar el `else` es:

```
if condicion:
  # codigo en caso de que sea verdad
else:
  # codigo en caso de que sea falso
```

el comando `else` se ejecuta cuando la condición verificada por el `if` es evaluada como `False`.

In [1]:
nota = float(input('Ingrese la nota del alumno: '))

if nota >= 7:
  print('El alumno está aprobado.')
else:
  print('El alumno está reprobado.')

Ingrese la nota del alumno: 6
El alumno está reprobado.

In [3]:
nota = float(input('Ingrese la nota del alumno: '))

if nota >= 7:
  print('El alumno está aprobado.')
else:
  print('El alumno está reprobado.')

Ingrese la nota del alumno: 100
El alumno está aprobado.

In [8]:
nota = float(input('Ingrese la nota del alumno: '))

if nota >= 7:
  print('El alumno está aprobado.')
if 7 > nota >= 5:
  print ("El alumno requiere Recuperación")
else:
  print('El alumno está reprobado.')

Ingrese la nota del alumno: 4
El alumno está reprobado.

---
**Situación:**

Recibiremos el promedio de la nota de los estudiantes y necesitamos de un algoritmo que ejecute el análisis y determine si el estudiante fue **Aprobado** o **Reprobado**, mostrando un mensaje del resultado. Para ser aprobado, el promedio necesita ser igual o superior a 7.0.

In [ ]:
nota = float(input('Ingrese la nota del alumno: '))

if nota >= 7:
  print('El alumno está aprobado.')
if 7 > nota >= 5:
  print ("El alumno requiere Recuperación")
else:
  print('El alumno está reprobado.')

Ahora, nuestra institución educativa estableció que las personas que tengan el promedio entre 5.0 y 7.0 pueden participar del curso de **Recuperación** durante las vacaciones para lograr aprobar.

Entonces podemos apoyarnos en un conjunto de `if`s para poder estructurar esta nueva condición.

Observa que en casos con 3 situaciones como este necesitamos definir bien nuestras condiciones. Pues, si realizamos una condición con `else` al final, este irá a considerar solamente la condición `if` inmediatamente anterior para generar la salida en caso de que el resultado de su operación lógica sea **falso** dando como resultado, dos o más ejecuciones.

Por ejemplo:

## `ELIF`

El comando `elif` es una palabra clave en Python que significa "si no, si" y lo podemos considerar una *contracción* entre `else` e `if`. Se utiliza en conjunto con la palabra clave `if` para formar una estructura condicional en cadena.

la sintaxis para utilizar el comando `elif` es:

```
if condicion1:
    # Realiza algo
elif condicion2:
    # Realiza otra cosa
elif condicion3:
    # Realiza otra cosa
else:
    # Realiza algo diferente
```

El comando `elif` permite que puedas verificar varias condiciones en cadena, economizando espacio en tu código. Si la primera condición se evalúa como `False`, el interpretador de Python evaluará la próxima condición con el `elif`. Ello continuará hasta que una condición sea evaluada como `True` o hasta que el `else` sea alcazado. Si ninguna de las condiciones es evaluada como `True`, la ejecución del código del comando `else` será iniciada.

Vamos a emplear el mismo caso anterior:

In [9]:
nota = float(input('Ingrese la nota del alumno: '))

if nota >= 7:
  print('El alumno está aprobado.')
elif 7 > nota >= 5:
  print ("El alumno requiere Recuperación")
else:
  print('El alumno está reprobado.')

Ingrese la nota del alumno: 7
El alumno está aprobado.

In [10]:
nota = float(input('Ingrese la nota del alumno: '))

if nota >= 7:
  print('El alumno está aprobado.')
elif 7 > nota >= 5:
  print ("El alumno requiere Recuperación")
else:
  print('El alumno está reprobado.')

Ingrese la nota del alumno: 6.9
El alumno requiere Recuperación

In [11]:
nota = float(input('Ingrese la nota del alumno: '))

if nota >= 7:
  print('El alumno está aprobado.')
elif 7 > nota >= 5:
  print ("El alumno requiere Recuperación")
else:
  print('El alumno está reprobado.')

Ingrese la nota del alumno: 4.9
El alumno está reprobado.

In [12]:
temperatura = float(input('Ingrese la temperatura actual: '))

if temperatura > 30:
  print ('Está caliente.')
elif 30 > temperatura >= 25:
  print ("Está templado")
else:
  print ("Está frío")

Ingrese la temperatura actual: 35
Está caliente.

In [13]:
temperatura = float(input('Ingrese la temperatura actual: '))

if temperatura > 30:
  print ('Está caliente.')
elif 30 > temperatura >= 25:
  print ("Está templado")
else:
  print ("Está frío")

Ingrese la temperatura actual: 28.5
Está templado

In [14]:
temperatura = float(input('Ingrese la temperatura actual: '))

if temperatura > 30:
  print ('Está caliente.')
elif 30 > temperatura >= 25:
  print ("Está templado")
else:
  print ("Está frío")

Ingrese la temperatura actual: 24
Está frío

In [15]:
temperatura = float(input('Ingrese la temperatura actual: '))

if temperatura > 30:
    print('Está caliente.')
elif temperatura >= 25 and temperatura < 30:
    print("Está templado")
else:
    print("Está frío")

Ingrese la temperatura actual: 27.5
Está templado

In [26]:
invitados = -1

while invitados < 0:
  invitados = int(input('Ingrese la cantidad de invitados: '))
  if invitados <0:
    print ('La cantidad de invitados no puede ser negativa.')

if invitados > 50:
  print ("¡Pongamos música de fiesta!")
elif invitados >= 20 and invitados <50:
  print ("¡Pongámos música de fondo!")
elif invitados >0 and invitados <20:
  print ("¡Pongámos música tranquila!")
else:
  print ("¡No hay música y sin música, no hay fiesta!")

Ingrese la cantidad de invitados: -1
La cantidad de invitados no puede ser negativa.
Ingrese la cantidad de invitados: 1
¡Pongámos música tranquila!

In [28]:
invitados = -1 #Inicializamos con un valor inválido

while invitados < 0:
  invitados = int(input('Ingrese la cantidad de invitados: '))
  if invitados <0:
    print ('La cantidad de invitados no puede ser negativa.')

if invitados > 50:
  print ("¡Pongamos música de fiesta!")
elif invitados >= 20 and invitados <50:
  print ("¡Pongámos música de fondo!")
elif invitados >0 and invitados <20:
  print ("¡Pongámos música tranquila!")
else:
  print ("¡No hay música y sin música, no hay fiesta!")

Ingrese la cantidad de invitados: 0
¡No hay música y sin música, no hay fiesta!

In [30]:
invitados = -1 #Inicializamos con un valor inválido

while invitados < 0:
  invitados = int(input('Ingrese la cantidad de invitados: '))
  if invitados <0:
    print ('La cantidad de invitados no puede ser negativa.')

if invitados > 50:
  print ("¡Pongamos música de fiesta!")
elif invitados >= 20 and invitados <50:
  print ("¡Pongámos música de fondo!")
elif invitados >0 and invitados <20:
  print ("¡Pongámos música tranquila!")
else:
  print ("¡No hay música y sin música, no hay fiesta!")

Ingrese la cantidad de invitados: 21
¡Pongámos música de fondo!

In [31]:
invitados = -1 #Inicializamos con un valor inválido

while invitados < 0:
  invitados = int(input('Ingrese la cantidad de invitados: '))
  if invitados <0:
    print ('La cantidad de invitados no puede ser negativa.')

if invitados > 50:
  print ("¡Pongamos música de fiesta!")
elif invitados >= 20 and invitados <50:
  print ("¡Pongámos música de fondo!")
elif invitados >0 and invitados <20:
  print ("¡Pongámos música tranquila!")
else:
  print ("¡No hay música y sin música, no hay fiesta!")

Ingrese la cantidad de invitados: 100
¡Pongamos música de fiesta!

## Operadores

Durante la construcción de comandos a veces necesitamos de una elaboración mayor de la expresión condicional, necesitando que algunos operadores lógicos se encuentren integrados.

### `AND`, `OR`, `NOT`

Los operadores lógicos `and`, `or` y `not` son usados para combinar expresiones lógicas en Python. Ellos son usados frecuentemente en conjunto con el comando `if` para crear estructuras condicionales más complejas.

- `AND` es usado para verificar si dos condiciones son verdaderas. La expresión lógica¹ `x and y` se evalúa como `True` tan solo si **ambas condiciones `x` y `y` son verdaderas**, y como `False` en caso contrario.

- `OR` es usado para verificar si al menos una de las condiciones es verdadera. La expresión lógica `x or y` se evalúa como `True` **si al menos una de las condiciones `x` o `y` es verdadera**, y como `False` si ambas condiciones son falsas.

- `NOT` es usado para **negar una condición**. La expresión lógica `not x` es evaluada como `True` si la condición x es falsa, y como `False` si la condición x es verdadera.

¹ Una expresión lógica es una declaración que puede ser evaluada como verdadera o falsa. Ella se compone por operandos lógicos² y por operadores lógicos³, que son usados ​​para combinar varias expresiones lógicas en una única expresión.

² Los operandos lógicos son los elementos que son comparados o evaluados en una expresión lógica. Ellos son generalmente valores verdaderos o falsos, pero también pueden ser expresiones lógicas más complejas. En Python, los operandos lógicos son los valores `True` y `False`.

³ Los operadores lógicos son ls símbolos o palabras clave que son usados ​​para combinar varias expresiones lógicas en una única expresión. En Python, los operadores lógicos son `and`, `or` y `not`, bien como las palabras clave `if`, `elif` e `else`.

> Operadores lógicos más comunes

|a|b|AND|OR|NOT|
|-|-|-|-|-|
|0|0|0|0|1
|0|1|0|1|-
|1|0|0|1|-
|1|1|1|1|0

In [32]:
v = True
f = False

In [39]:
if f and f:
  print('Verdadero')
else:
  print('Falso')

Falso

In [44]:
if f or f:
  print('Verdadero')
else:
  print('Falso')

Falso

In [47]:
if not f:
  print('Verdadero')
else:
  print('Falso')

Verdadero

### `IN`

Es usado para verificar si un elemento está presente en una lista, tupla u otra colección de conjunto. La expresión `x in y` se evalúa como `True` si el elemento `x` esta presente na variávelen la variable de conjunto `y`, y como `False` en caso contrario.

Podemos verificarlo con variables de texto.

---

**Situación:**

En la escuela nos entregaron una lista con nombres de estudiantes que fueron aprobados según el promedio del semestre, pero es necesario verificar si algunos nombres están en esa lista para confirmar que los datos estén correctos.

La lista distribuida puede ser observada a continuación:

```
lista = 'Juan Pérez, María González, Pedro Rodríguez, Ana López, Carlos Martínez,
    Laura Sánchez, José García, Elena Fernández, Luis Morales, Carmen Torres,
    David Ruiz, Isabel Ramírez, Javier Díaz, Sara Herrera, Miguel Castro,
    Patricia Ortega, Francisco Vargas, Marta Jiménez, Manuel Medina, Rosa Molina,
    Alejandro Silva, Silvia Ruiz, Andrés Torres, Natalia Soto, Diego Guerrero,
    Paula Ríos, Ricardo Navarro, Alicia Cordero, Carlos Vidal, Lorena Gómez'
```

Los nombres que necesitas verificar son los siguientes:

```
nombre_1 = 'Miguel Castro'
nombre_2 = 'Marcelo Noguera'
```

In [49]:
lista = 'Juan Pérez, María González, Pedro Rodríguez, Ana López, Carlos Martínez, Laura Sánchez, José García, Elena Fernández, Luis Morales, Carmen Torres, David Ruiz, Isabel Ramírez, Javier Díaz, Sara Herrera, Miguel Castro, Patricia Ortega, Francisco Vargas, Marta Jiménez, Manuel Medina, Rosa Molina, Alejandro Silva, Silvia Ruiz, Andrés Torres, Natalia Soto, Diego Guerrero, Paula Ríos, Ricardo Navarro, Alicia Cordero, Carlos Vidal, Lorena Gómez'

In [50]:
nombre_1 = 'Miguel Castro'
nombre_2 = 'Marcelo Noguera'

In [52]:
if nombre_1 in lista:
  print ("El Estudiante aprobó")
else:
  print ("El Estudiante reprobó")

El Estudiante aprobó

In [53]:
if nombre_2 in lista:
  print ("El Estudiante aprobó")
else:
  print ("El Estudiante reprobó")

El Estudiante reprobó

In [54]:
frase = "La programación es divertida"
palabra_a_buscar = "programación"

if palabra_a_buscar in frase:
    print("La palabra está en la frase.")
else:
    print("La palabra no está en la frase.")

La palabra está en la frase.

In [56]:
frutas_favoritas = ["manzana", "banana", "naranja"]
fruta_a_verificar = "kiwi"  # Puedes cambiar de fruta

if fruta_a_verificar in frutas_favoritas:
    print("La fruta está en la lista.")
else:
    print("La fruta no está en la lista.")

La fruta no está en la lista.

# Es hora de practicar lo visto en este apartado

In [65]:
num_1 = int(input('Ingrese el primer número: '))
num_2 = int(input('Ingrese el segundo número: '))
num_3 = int(input('Ingrese el tercer número: '))

if num_1 > num_2 and num_1 > num_3:
  print('El primer número es el mayor.')
elif num_2 > num_1 and num_2 > num_3:
  print('El segundo número es el mayor.')
elif num_3 > num_1 and num_3 > num_2:
  print('El tercer número es el mayor')
else:
  print('Intentalo más tarde')

Ingrese el primer número: 1
Ingrese el segundo número: 2
Ingrese el tercer número: 3
El tercer número es el mayor

In [79]:
crecimiento = float(input("Introduce el porcentaje de crecimiento anual: "))

if crecimiento >=75:
  print ("El crecimiento es Positivo")
elif crecimiento >50 and crecimiento <75:
  print ("El crecimiento es Moderado")
elif crecimiento >25 and crecimiento <50:
  print ("El crecimiento es Constante")
elif crecimiento >1 and crecimiento <25:
  print ("El crecimiento es Bajo")
elif crecimiento <=0:
  print ("El crecimiento es Negativo")

Introduce el porcentaje de crecimiento anual: 75
El crecimiento es Positivo

# Estructuras de repetición

Cuando tenemos que ejecutar un mismo bloque de comandos durante varias ocasiones no es nada práctico hacerlo a mano.

**Situación**: Nos fue solicitado obtener e imprimir el promedio de 2 notas de **3 estudantes**:

Ahora imaginemos una situación en que no son tan solo 3 estudiantes, sino 100 estudiantes. No sería nada interesante repetir el mismo código 100 veces, sino **ejecutar el mismo código 100 veces**.

¡Esta estructura la logramos construir con lazos de repetición!

## `WHILE`

El lazo `while` es una estructura de control de repetición en Python que permite ejecutar un bloque de código repetidamente mientras que una determinada condición sea verdadera. Su estructura es:



```
while condicion:
    # bloque de codigo
```

Vamos a construir un ejemplo con un contador de 1 hasta 10.

Ahora vamos a colectar las notas y promedios de cada alumno dentro del lazo `while`. Haremos un ejemplo con 3 promedios.

## `FOR`

El lazo `for` es un tipo de estructura de control de flujo en Python que permite iterar sobre un conjunto de elementos. Su estructura es:



```
for elemento in conjunto:
    # codigo a ser ejecutado para cada elemento
```

El lazo `for` itera sobre cada elemento del conjunto especificado y ejecuta el bloque de código dentro del lazo para cada elemento. Cuando el lazo llega al final del conjunto, este se interrumpe y el programa continúa la ejecución después del lazo.

El conjunto lo podemos generar con la función incorporada [`range()`](https://docs.python.org/3/library/functions.html#func-range). Se trata de una función capaz de generar una secuencia de números enteros. La estructura de esta función es:

```
range(inicio, fin, paso)
```

Según la documentación, `range()` genera una secuencia de números enteros a partir del valor del parámetro `inicio` hasta el valor del parámetro `fin`, de acuerdo con el valor del parámetro `paso`. Si `inicio` no es especificado, el valor por defecto es `0`. Si `paso` no es especificado, el valor por defecto es `1`.

Vamos a recrear el mismo contador `while` con el lazo `for`.

# Estructuras de datos

Un conjunto de elementos es una colección de items, que son almacenados juntos de manera organizada. Algunos ejemplos de conjuntos de elementos en Python son las listas, los strings y los diccionarios.

## Listas

Las listas pueden almacenar una colección de items en orden. Ellas son delimitadas por corchetes `[]` y sus elementos son separados por comas.

Estas pueden almacenar cualquier tipo de items, incluyendo números, strings, objetos, otras listas, entre otros. También nos permiten almacenar items de tipos de datos diferentes juntos en una única lista.

In [ ]:
lista = ['Penélope Camacho',9.5,9.0,9.7,True]
lista

['Penélope Camacho', 9.5, 9.0, 9.7, True]

Las listas son organizadas en Python porque **cada elemento de la lista tiene un índice que indica su posición al interior de la lista**. Los índices comienzan en 0 van hasta el tamaño de la lista menos 1.

Tenemos entonces 5 elementos con índices que varían de 0 a 4, ordenadamente:

```
#             [0]           [1]   [2]   [3]    [4]
lista = ['Penélope Camacho', 9.5 , 9.0 , 9.7 , True]
```

En Python tenemos también los índices **negativos** que se inician en el último elemento con el valor de `-1` y avanzan en el universo de los negativos hasta llegar al 1° elemento:

```
#             [-5]         [-4]  [-3]  [-2]   [-1]
lista = ['Penélope Camacho', 9.5 , 9.0 , 9.7 , True]
```

Logramos seleccionar separadamente cada elemento a través de sus respectivos índices. Colocando el nombre de la lista y en seguida el índice que será seleccionado.

Una forma más dinámica de trabajar item a item en una lista es utilizando un lazo `for` para leer un elemento a la vez.

**Situación**: La nota `9.0` de Penélope necesita ser ajustada pues ganó 1 punto en su última nota por participación en clase. Entonces es necesario realizar un cambio en el índice `2` de `9.0` a `10.0`.

También podemos calcular el promedio del estudiante a partir de los datos que tenemos.

## Manipulación de listas

Las listas son muy útiles en Python porque nos permiten almacenar y acceder a una colección de items de manera organizada y rápida. Estas también ofrecen muchos métodos útiles para manipular los itens almacenados, como adicionar, remover, clasificar y buscar elementos.

#### Cantidad de elementos

Usamos la función [`len()`](https://docs.python.org/3/library/functions.html#len) para descubrir la cantidad de elementos de un conjunto.

#### Partición

La partición de listas por indexación en Python es una técnica muy útil para seleccionar un subconjunto de elementos de una lista. Esta se realiza usando la sintaxis `lista[inicio:fin]`, donde `inicio` es el índice del primer elemento que será incluído en la partición `fin` es el índice del primer elemento que será excluído de la partición.

#### [`append()`](https://docs.python.org/3/tutorial/datastructures.html#:~:text=of%20list%20objects%3A-,list.append(x),-Add%20an%20item)

Añade un elemento al final de la lista.

#### [`extend()`](https://docs.python.org/3/tutorial/datastructures.html#:~:text=list.extend(iterable))

Añade varios elementos al final de la lista.

Añadiremos las notas `[10.0,8.0,9.0]` En la lista de Penélope Camacho.

*A continuación te mostraremos lo que no puede realizarse con* `append`.

#### [`remove()`](https://docs.python.org/3/tutorial/datastructures.html#:~:text=append(x).-,list.remove(x),-Remove%20the%20first)

Remueve un elemento específico de la lista.

## Diccionario

Los diccionarios son un tipo de estructura de datos que almacenan pares de *llave-valor*. Estos son delimitados por llaves `{}` y los pares *llave-valor* son separados por comas.

```
diccionario = {llave: valor}
```

La **llave** es un elemento único que identifica a un valor en el diccionario, mientras que el **valor** es el item que será almacenado para la llave. Las llaves y sus respectivos valores se pueden emplear para **cualquier tipo de dato**.

Los diccionarios son útiles para almacenar y acceder a los datos de manera organizada y rápida. Se trata de un tipo de conjunto de elementos en Python, pues almacenan una colección de items.

---
**Situación:**

Vamos a crear un conjunto de datos con las informaciones de matrícula de un estudiante. Los datos son los siguientes:

- matrícula: 2000168933
- día de registro: 25
- mes de registro: 10
- grupo: 2E

Es posible sustituir los valores dentro de una llave. Por ejemplo, recibimos la información de que el grupo del estudiante que registramos cambio a `'2G'` y ahora necesitamos cambiar el valor de la llave `'grupo'`.

También podemos añadir otros datos al diccionario. Vamos a añadir la información sobre la modalidad de estudio, nuestro estudiante estudiará inicialemente en la modalidad EAD.

Definiremos una llave llamada `'modalidad'` con el valor `'EAD'`.

## Profundizando en diccionarios

#### [`pop()`](https://python-reference.readthedocs.io/en/latest/docs/dict/pop.html)
Remueve un item de un diccionario y lo representa en la salida.

#### [`items()`](https://python-reference.readthedocs.io/en/latest/docs/dict/items.html)
Retorna una lista de pares `llave-valor` del diccionario.

#### [`keys()`](https://python-reference.readthedocs.io/en/latest/docs/dict/keys.html)
Retorna una lista de las llaves del diccionario.

#### [`values()`](https://python-reference.readthedocs.io/en/latest/docs/dict/values.html)
Retorna una lista de los valores del diccionario.

### Lectura de valores con el lazo `for`